<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/user.css">
    <link rel="stylesheet" href="/stylesheets/essentials.css">
</head>
<body>

<header>
    <div class="logo" onclick="mainPageLoggedIn(<%= loggedInUserId %>)"> FLY</div>
</header>


<div class="navigation-container">
    <nav>
        <ul>
            <li><a href="#" onclick="window.history.back()">Return</a></li>
            <li><a href="#" onclick="addPostToServer(event,<%= loggedInUserId %>)">Finish</a></li>
        </ul>
    </nav>
</div>
<div class="container">
    <form id="add-post-form" onsubmit="">
        <h2>Add Post</h2>
        <div id="validation-error" style="color: red; margin-bottom: 10px;"></div>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description">

        <div id="drag-drop-area"
             style="border: 2px dashed #ccc; padding: 20px; text-align: center; margin-top: 10px;">
            <p>Drag and drop an image here, or click to select a file</p>
            <input type="file" id="image-upload" name="image" accept="image/*" style="display: none;">
        </div>

    </form>
</div>
<script src="../javascripts/user.js"></script>

</body>
</html>
