<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="small-background">
    <div class="small-container"></div>
    <script>

        document.addEventListener('DOMContentLoaded', async () => {
            await addPostToServer()
        });

    </script>
    <script src="../javascripts/admin.js"></script>
</div>

</body>
</html>
