.like-count {
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(
            to right,
            #4a4a4a,
            #000000
    );
    align-self: center;
    cursor: pointer;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 2s ease;

}

.like-count:hover {
    background: linear-gradient(
            to right,
            #a6296e, #6c5b7b
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 2s ease;
}



.ban-button {
    border-radius: 10px;
    background-color: cadetblue;
    border: 1px solid #ddd;
}

.ban-button:hover {
    background-color: #dddddd;
}

.warn-button {
    border-radius: 10px;
    background-color: mediumslateblue;
    border: 1px solid #ddd;
}

.warn-button:hover {
    background-color: #dddddd;
}
.like-details-box {

    margin: 25px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.like-details-box-empty {
    display: flex;
    justify-content: center;
}


.like-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.like-item:last-child {
    border-bottom: none;
    margin-bottom: -5px;
}
