<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>
<body>

<div class="container">
    <form>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <span id="email-error" class="error-message"></span>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <span id="password-error" class="error-message"></span>
        </div>
    </form>
</div>


<script>
    document.addEventListener('DOMContentLoaded', async () => {
        try {

        } catch (error) {
            console.error('Error fetching or rendering posts:', error);
        }
    });

</script>
<script src="../javascripts/scripts.js"></script>

</body>
</html>