<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/guest.css">
    <link rel="stylesheet" href="/stylesheets/essentials.css">
</head>
<body>
<header>
    <div class="logo" onclick="mainPage()"> FLY</div>
    <div class="buttons">
        <button class="button" onclick="loginUserRequest()">Log In</button>
        <button class="button" onclick="registerUserRequest()">Register</button>
    </div>
</header>



<div class="container"></div>
<script>
    document.addEventListener('DOMContentLoaded', async () => {
        try {
            const posts = await fetchPostsGuest();
            if (Array.isArray(posts) && posts.length > 0) {
                await renderPostsGuest(posts);
            } else {
                console.error('No posts available to render.');
            }
        } catch (error) {
            console.error('Error fetching or rendering posts:', error);
        }
    });

</script>
<script src="../javascripts/guest.js"></script>
</body>
</html>